$DESKTOP: "DESKTOP";
$MEDIUM: "MEDIUM";
$TABLET: "TABLET";
$WIDE_MOBILE: "WIDE_MOBILE";
$SMALL_MOBILE: "SMALL_MOBILE";

@mixin Responsive($device) {
  @if $device == $DESKTOP {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @else if $device == $MEDIUM {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }
  @else if $device == $TABLET {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }
  @else if $device == $WIDE_MOBILE {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $device == $SMALL_MOBILE {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }
}
